<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/HappyTrails"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="FORGE_GROUP" value="net.minecraftforge"/>
        <mapEntry key="FORGE_VERSION" value="31.1.0"/>
        <mapEntry key="MCP_MAPPINGS" value="snapshot_20190719-1.14.3"/>
        <mapEntry key="MCP_VERSION" value="20200122.131323"/>
        <mapEntry key="MC_VERSION" value="1.15.2"/>
        <mapEntry key="MOD_CLASSES" value="examplemod%%D:\Minecraft15.2\HappyTrailsWorkspace\HappyTrails\bin\main;examplemod%%D:\Minecraft15.2\HappyTrailsWorkspace\HappyTrails\bin\main"/>
        <mapEntry key="assetDirectory" value="C:\Users\steph\.gradle\caches\forge_gradle\assets"/>
        <mapEntry key="assetIndex" value="1.15"/>
        <mapEntry key="nativesDirectory" value="D:\Minecraft15.2\HappyTrailsWorkspace\HappyTrails\build\natives"/>
        <mapEntry key="target" value="fmluserdevclient"/>
    </mapAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.minecraftforge.userdev.LaunchTesting"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="HappyTrails"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dforge.logging.console.level=debug -Dforge.logging.markers=SCAN,REGISTRIES,REGISTRYDUMP -XX:HeapDumpPath=MojangTricksIntelDriversForPerformance_javaw.exe_minecraft.exe.heapdump &quot;-Dos.name=Windows 10&quot; -Dos.version=10.0"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="D:\Minecraft15.2\HappyTrailsWorkspace\HappyTrails\run"/>
</launchConfiguration>
